* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #afd7df, #a2d9eb);
    overflow-x: hidden;
}
.head{
    margin: 3%;
}
.title {
    font-size: 7vmin;
    text-align: center;
    color: white;
    text-shadow: 0 0 0.1vmin rgb(226, 224, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
}

.inner-container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;              
    padding: 5vmin;
    border-radius: 2vmin;
    box-shadow: 0 0 20px gray;
    margin: auto 20%;
}

/* TITLE INSIDE CARD */
.inner {
    font-size: 4vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3vmin;
    color: rgb(198, 198, 198);
    display: flex;
    align-items: flex-start;
}

/* SEARCH ROW */
.inner-card {
    display: flex;
    gap: 2vmin;
    width: 100%;
    padding:1vmin;
}

/* INPUT WRAPPER */
.search-bar {
    flex: 2;                   
}

input[type='text'] {
    width: 100%;
    height: 7vmin;
    padding: 2vmin;
    font-size: 2.5vmin;
    border-radius: 5vmin;
    border: 1px solid #cbd5e1;
    outline: none;
}
input[type='text']:focus{
    border: 2px solid #2563eb;
}
.add-search {
    padding: 1.5vmin 3.5vmin;
    font-size: 2vmin;
    border: none;
    border-radius: 1vmin;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.add-search:hover {
    background: #1d4ed8;
}
.to-doList-container{
    display: block;
    padding: 2vmin 1vmin;
    color: #cad5e2;
}
.to-doList{
    background: white;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    gap: 1vmin;
}

.placeholder {
    color: #94a3b8;
    text-align: center;
    width: 100%;
    padding: 5vmin 0;
}

.todo-item{
    background: #efefef;
    width: 100%;
    padding: 2vmin;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1vmin
}
.cbox{
    height: 4vmin;
    width: 4vmin;
    cursor: pointer;
}
.span-text{
    flex: 1;
    margin: 0 1% ;
}
.deletebtn{
    border: none;
    cursor: pointer;
   
}
hr{
    margin: 2% 0;
    background: #94a3b8;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #94a3b8;
    font-size: 0.9rem;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}