*{
  padding: 0;
  margin: 0;
}
body{
  color: orangered;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-body{
  background: rgb(242, 201, 166);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list-maindiv{
  background: #fddbcf;
  width: 60vmin;
  height: auto;
  padding: 4vmin;
  border-radius: 3vmin;
}
.tood-task-input-div{
  display: flex;
  align-items: center;
  column-gap: 2vmin;
  justify-content: center;
  padding: 1vmin;
}
#add-button{
  width: 10vmin;
  height: 8vmin;
  border-radius: 50%;
}
.task {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.task-list{
  width: 95%;
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 3vmin;
}
.task-list li{
  margin: 0;
}
.task-buttons{
  display: flex;
  column-gap: 1vmin;
}